<div class="container" style="margin-top: 100px;">
  <div class="row">

    <div class="col-md-12">
      <mat-form-field *ngIf="walletsArray.length > 0">
        <input type="text" matInput (keyup)="applyFilter($event.target.value)"
          placeholder="Enter the keyword to search from data">
      </mat-form-field>
      <br>
      <lottie-player class="lottie" *ngIf="walletsArray.length === 0"
        src="https://assets1.lottiefiles.com/packages/lf20_5KobUw.json" background="transparent" speed="1"
        style="width: 300px; height: 300px;" loop autoplay></lottie-player>
      <h4 *ngIf="walletsArray.length === 0">There was no data found for your Wallet History </h4> <br>

      <div data-aos="zoom-out" *ngIf="walletsArray.length > 0" class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>

          <ng-container matColumnDef="referenceid">
            <th mat-header-cell *matHeaderCellDef> Reference Id </th>
            <td mat-cell *matCellDef="let element"> {{element.referenceid}} </td>
          </ng-container>

          <ng-container matColumnDef="loadedAt">
            <th mat-header-cell *matHeaderCellDef> Wallet loaded on </th>
            <td mat-cell *matCellDef="let element"> {{element.loadedAt | date}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element">
              <p
                [ngStyle]="element.status=='Approved' ? {'color' : 'green'} :
                        element.status=='Rejected' ? {'color' : 'red'} : element.status=='Pending'? {'color': 'orange'} : {'color':'black'}">
                {{element.status}}</p>

            </td>
          </ng-container>

          <ng-container matColumnDef="statusupdatedAt">
            <th mat-header-cell *matHeaderCellDef> Status updated on </th>
            <td mat-cell *matCellDef="let element"> {{element.statusupdatedAt | date}} </td>
          </ng-container>

          <ng-container matColumnDef="reasonstoreject">
            <th mat-header-cell *matHeaderCellDef> Reasons for rejection</th>
            <td mat-cell class="reasonsColumn" *matCellDef="let element">
              <div>
                <p class="text-info">{{element.reasonstoreject}}</p>
              </div>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>




    </div>

  </div>
</div>