<div class="container">

  <div class="row">

    <div class="col-md-12" style="margin-top:50px;">
      <mat-form-field *ngIf="wallets.length > 0">
        <input type="text" matInput (keyup)="applyFilter($event.target.value)"
          placeholder="Enter the keyword to search from data">
      </mat-form-field>

      <br> <br>

      <div *ngIf="wallets.length > 0 ; else display" class="mat-elevation-z8">


        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount</th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
          </ng-container>

          <ng-container matColumnDef="referenceid">
            <th mat-header-cell *matHeaderCellDef>Reference Id</th>
            <td mat-cell *matCellDef="let element"> {{element.referenceid}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Applicants Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Download</th>
            <td mat-cell *matCellDef="let element"> <button (click)="getImage(element.imagepath)" mat-button
                color="primary">Download</button> </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Approve / Reject</th>

            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.status == 'Pending'">
                <button (click)="onApprove(element._id,element.amount,element.user._id)" mat-raised-button
                  color="primary">Approve</button>
                <!-- <button 
                (click)="getRejectedId(element.referenceId)"
                data-toggle="modal" data-target="#rejectModal"
                class="ml-3" mat-raised-button color="warn">Reject</button>  -->

                <button mat-raised-button color="warn" class="ml-3" (click)="openDialog(element._id)">Reject</button>

              </div>
              <div *ngIf="element.status!='Pending'">
                <p [ngStyle]="element.status=='Approved' ? {'color' : 'green'} : {'color' : 'red'}">{{element.status}}
                </p>
              </div>



            </td>


          </ng-container>



          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

    </div>


  </div>

</div>
<ng-template #display>
  <h4>There are no wallet requests to display</h4> <br> <br>
  <lottie-player class="lottie" *ngIf="wallets.length === 0"
    src="https://assets2.lottiefiles.com/packages/lf20_oKsdGf.json" background="transparent" speed="1"
    style="width: 300px; height: 300px;" loop autoplay></lottie-player>
</ng-template>