@import "../../../assets/materialize/css/materialize.min.css";

.upload-btn-wrapper{
  position: relative;
}
.uploadbtn{
  border: 2px solid gray;
  color: white;
  background-color: rebeccapurple;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: bold;
}


.upload-btn-wrapper input[type=file] {
  // font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
