<style media="screen">
  button:disabled {
    cursor: not-allowed;
  }
</style>
<div data-aos="fade-down" class="container" style="margin-top: 100px;margin-bottom: 200px;">
<form [formGroup]="loadwalletform" (ngSubmit)="onSubmit()">
    <div class="row">

      <div class="col-md-8 offset-md-2">

        <div class="alert alert-success alert-dismissible" *ngIf = "success == 'success'">
  <button type="button" class="close" data-dismiss="alert" name="button">&times;</button>
          <b>Uploaded successfully redirecting to WALLET HISTORY</b>
</div>

      <div class="card">
        <div class="card-content">
          
          <div class="card-title">Load Wallet</div>
          <br> <br>
                  <div class="input-field">
                    <label class="active" for="">Amount</label>
                    <input formControlName="amount" type="number" placeholder="Enter the amount" >
                    <p *ngIf="!f.amount.valid && f.amount.touched" class="text-danger">Enter a valid amount</p>

                  </div>
                  <br>
                  <div class="input-field">
                    <label class="active" for="">Reference Id</label>
                    <input formControlName="referenceId" type="text" placeholder="Enter the referenceId of the payment" >
                    <p *ngIf="!f.referenceId.valid && f.referenceId.touched" class="text-danger">Reference Id mandatory</p>
                  </div>

                  <div class="input-field">
                    <div class="upload-btn-wrapper">
                      <button class="uploadbtn">
                        <span class="material-icons">
                          file_present
                          </span> &nbsp;&nbsp;
                        Upload payment proof</button>
                        <input type="file" (change)="onChange($event)"  name="" value="">
                        <hr>
                        <p class="text-info"> {{filename}} </p>
                    </div>
                  </div>
                <div class="card-action">
                  <button type="submit"
                  [disabled]="!loadwalletform.valid || !selectedFiles"
                   class="btn btn-block pink accent-2" name="button"
                   >
                   <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        
                   Submit</button>
                </div>
         

        </div>
      </div>




      </div>

    </div>
  </form>

</div>
