<body data-aos="fade-up">
  <div class="container" style="margin-top: 50px;margin-bottom: 100px;">

    <h1 class="welcome">Hello {{userData.title}} {{userData.firstname}} {{userData.lastname}} </h1>
    <div class="row">

      <div class="col-md-5">
        <app-details></app-details>
        <br>
      </div>
      <div class="col-md-6 offset-md-1">
        <router-outlet></router-outlet>
      </div>

    </div>

  </div>
</body>