@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.welcome{
    font-size: 40px;
    background: linear-gradient(to left , #FEAC5E , #C779D0 , #4BC0C8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}