﻿<h3 class="card-header">Forgot Password</h3>
<div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email is invalid</div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">
                Submit
            </button>
            <a routerLink="../login-register" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
<div style="margin-top: 20px;" *ngIf="error" class="alert alert-danger alert-dismissible fade show"> {{error}} </div>
<div style="margin-top: 20px;" *ngIf="success" class="alert alert-success alert-dismissible fade show"> {{success}}
</div>