﻿<h3 class="card-header">Reset Password</h3>
<div class="card-body">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" formControlName="confirmPassword" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">
                Reset Password
            </button>
            <a routerLink="../login-register" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>

<div style="margin-top: 20px;" *ngIf="error" class="alert alert-danger alert-dismissible fade show"> {{error}} </div>
<div style="margin-top: 20px;" *ngIf="success" class="alert alert-success alert-dismissible fade show"> {{success}}
</div>