<form [formGroup]="form" style="margin-top: 50px;">
    <mat-card>
        <!-- <div *ngIf="error" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <b> {{error}}</b>
        </div> -->

        <div class="msg-error" *ngIf="error">{{error}}</div>

        <br>
        <mat-card-title>Login</mat-card-title>
        <br>
        <mat-card-content>

            <div class="form-group">
                <mat-form-field class="form-element" appearance="outline">
                    <mat-label>Email-id</mat-label>
                    <input type="email" matInput placeholder="Enter email-address" formControlName="email">
                    <mat-error *ngIf="!f.email.valid && f.email.touched || submitted">
                        Enter the valid email-address
                    </mat-error>

                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="form-element" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Enter your password" formControlName="password">
                    <mat-error *ngIf="!f.password.valid && f.password.touched ||submitted">
                        <span *ngIf="f.password.hasError('required')">Field required</span>
                        <span *ngIf="f.password.hasError('minlength')">Enter valid password</span>
                    </mat-error>

                </mat-form-field>
            </div>




        </mat-card-content>

        <mat-card-footer>
            <a routerLink="/account/forgot-password" href="" class="float-right">Forgot Password ? click here</a>
            <br> <br>
            <button type="button" (click)="onSubmit()" class="btn-block" mat-raised-button color="accent">Login</button>
            <br>
        </mat-card-footer>

    </mat-card>
</form>

<lottie-player *ngIf="submitted" src="https://assets10.lottiefiles.com/packages/lf20_x62chJ.json"
    background="transparent" speed="4" style="width: 300px; height: 300px;" loop autoplay></lottie-player>