  <div class="restbody" data-aos="zoom-in">
    <h2  align="center">HAVE SOME QUESTIONS? 🙄</h2>
    <br><br><br>
    <div class="row">
      <div class="col-md-5 offset-md-1">

        <img src="../../assets/images/mail.svg" alt="" style="height: 350px; width: 400px;">

      </div>
      <div class="col-md-6">

        <form  [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
                <div *ngIf="successMessage" class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <b>{{successMessage}}</b>

                </div>
                <h5 *ngIf="waiting" class="text-danger">Please wait while we are registering your query........</h5> <br>
          </div>
            <div class="form-group">

              <input type="text" formControlName="fullname"  class="form-control" required placeholder="Full Name" name="fname"
              >
            <p class="text-danger" *ngIf="!f.fullname.valid && f.fullname.touched">Full name required</p>
            </div>
            <div class="form-group">
                <input type="email" formControlName="email" class="form-control" required placeholder="Whats your email?" name="email"
                  >
             <p class="text-danger" *ngIf="!f.email.valid && f.email.touched">Invalid email-address</p>
            </div>
            <div class="form-group">
              <textarea name="textarea" formControlName="query" class="form-control" required placeholder="Your questions..." rows="4" cols="10"></textarea>
             <p class="text-danger" *ngIf="!f.query.valid && f.query.touched">Query field required</p>
                
            </div>

            <button type="submit" class="btn form-control" name="send"> 
                <span *ngIf="loading" class="spinner spinner-border spinner-border-sm"></span>
                SEND MESSAGE</button>


        </form>

      </div>

    </div>


</div>
