
  .restbody{
    font-family: 'Baloo 2', cursive;
    background-color: #eff4f8;
    padding-top: 100px;
    padding-bottom: 100px;
    // margin-bottom: 100px;
  }
  .restbody h2{
    letter-spacing: 2px;
  }
    input[type="text"]{
      padding: 20px;
      width: 70%;
    }
    input[type="email"]{
      padding: 20px;
      width: 70%;

    }
    textarea[name="textarea"]{
      padding: 20px;
      width: 70%;

    }

  .form-control{
    border-radius: 20px;
  }
  button[type="submit"]{
    letter-spacing: 2px;
    width: 70%;
    background : linear-gradient(to right,#ef32d9,#89fffd);
    color: white;
    font-weight: bold;

  }

  .alert{
    width: 70%;
    border-radius: 20px;
  }

  @media (max-width:768px) {
    .alert{
      width: 100%;
      border-radius: 20px;
    }
      img{
        height: 170px;
        margin-left: 50px;
      }
      form{
        margin-top: 60px;
      }
      button[type="submit"]{
        width: 100%;

      }
      input[type="text"]{
        width: 100%;
      }
      input[type="email"]{
        width: 100%;

      }
      textarea[name="textarea"]{
        width: 100%;

      }
  }