@import url("https://fonts.googleapis.com/css2?family=B612&family=Montserrat&display=swap");
// global styles
a {
  cursor: pointer;
}

.app-container {
  min-height: 320px;
}

.admin-nav {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #e8e9ea;
  border-bottom: 1px solid #ccc;
}

.btn-delete-account {
  width: 40px;
  text-align: center;
  box-sizing: content-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
mat-form-field {
  width: 100%;
}
html,
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  background-color: #eff4f8;

  // background-color:#F8FAFB;
}

table {
  width: 100%;
}

.msg-error {
  width: 100%;
  border: 1px solid #d32f2f;
  padding: 10px;
  background-color: #ef5350;
  color: white;
  border-radius: 10px;
}
