<div data-aos="zoom-in">
    <div class="card" >
        <div class="card-content">
                <h5 class="header" >Update Profile</h5>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="input-field ">
                        <select formControlName="title" class=" browser-default" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                            <option value=""></option>
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Miss">Miss</option>
                            <option value="Ms">Ms</option>
                        </select>
                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                            <div *ngIf="f.title.errors.required">Title is required</div>
                        </div>
                    </div>
                    <br>
                    <div class="input-field ">
                        <label class="active">First Name</label> 
                        <input type="text" placeholder="Enter your first name" 
                        formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <br>
                    <div class="input-field ">
                        <label class="active">Last Name</label>
                        <input type="text" placeholder="Enter your last name"
                         formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                    <br>
                <div class="input-field">
                    <label class="active">Email</label>
                    <input type="text" placeholder="Enter your email-address"
                     formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <br>
                <hr>
                <h5 class="header">Change Password</h5>
                <!-- <h4>Change Password</h4> --> <br>
                <p class="text-danger">Leave blank to keep the same password</p> <br>
                    <div class="input-field ">
                        <label class="active">Password</label>
                        <input placeholder="Enter your password"
                         type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <br>
                    <div class="input-field ">
                        <label class="active">Confirm Password</label>
                        <input placeholder="Confirm your password" type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                        </div>
                    </div>
                <br>
                <div class="input-field">
                    <button type="submit" [disabled]="loading" class="btn btn-lg green">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Update
                    </button>
                    <button type="button" (click)="onDelete()" [disabled]="deleting" class="btn red ml-2">
                        <span *ngIf="deleting" class="spinner-border spinner-border-sm mr-1"></span>
                        Delete
                    </button>
                    <a style="color: black;" routerLink="../" href="" class="btn light-blue lighten-5 ml-2">Cancel</a>
                </div>
            </form>
        </div>
    
    </div>
</div>