<div class="container" style="margin-top: 50px;">


  <div class="row">

    <div class="col-md-12" style="margin-top:50px;">

      <h4 *ngIf="formsarray.length === 0">There are no forms submitted to display</h4>
      <lottie-player *ngIf="formsarray.length === 0" class="lottie"
        src="https://assets7.lottiefiles.com/packages/lf20_CQSJ4t.json" background="transparent" speed="3"
        style="width: 300px; height: 300px;" loop autoplay></lottie-player>


      <div data-aos="flip-right" *ngIf="formsarray.length > 0" class="mat-elevation-z8">


        <table mat-table [dataSource]="dataSource">


          <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef> Full Name </th>
            <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
          </ng-container>

          <ng-container matColumnDef="uploadedAt">
            <th mat-header-cell *matHeaderCellDef> Form Uploaded on </th>
            <td mat-cell *matCellDef="let element"> {{element.uploadedAt | date}} </td>
          </ng-container>


          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td [ngStyle]="element.status=='Approved' ? {'color' : 'green'} : {'color' : 'red'}" mat-cell
              *matCellDef="let element"> {{element.status}} </td>
          </ng-container>

          <ng-container matColumnDef="reasons">
            <th mat-header-cell *matHeaderCellDef> Reasons to reject </th>
            <td class="text-info" mat-cell *matCellDef="let element"> {{element.reasons}} </td>
          </ng-container>


          <ng-container matColumnDef="statusUpdatedAt">
            <th mat-header-cell *matHeaderCellDef> Form status updated at </th>
            <td mat-cell *matCellDef="let element"> {{element.statusUpdatedAt | date}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Download</th>
            <td mat-cell *matCellDef="let element"> <button *ngIf="element.approvedfile"
                (click)="getFile(element.approvedfile)" mat-button color="primary">Download </button>
            </td>
          </ng-container>





          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>


    </div>

  </div>

</div>