<div class="container">

  <div class="row">

    <div class="col-md-12" style="margin-top:50px;">

      <div *ngIf="forms.length > 0; else display" class="mat-elevation-z8">


        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef> Full Name</th>
            <td mat-cell *matCellDef="let element"> {{element.fullname}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email Id</th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>



          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Download</th>
            <td mat-cell *matCellDef="let element"> <button (click)="getFile(element.filename , element.jpgfilename)"
                mat-button color="primary">Download</button> </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>

            <td mat-cell *matCellDef="let element">
              <div *ngIf="element.status == 'Pending'">
                <input *ngIf="clickUpload" type="file" accept=".pdf" (change)="onChange($event)">
                <button *ngIf="clickUpload" mat-raised-button (click)="clickUpload = false">Cancel</button>
                <button *ngIf="clickUpload" (click)="onApprove(element._id)" mat-raised-button color="primary"
                  class="ml-3">Acknowledge</button>
                <button *ngIf="!clickUpload" (click)="clickUpload = true" mat-raised-button color="primary">Upload and
                  Acknowledge</button>
                <button *ngIf="!clickUpload" (click)="openDialog(element._id)" class="ml-3" mat-raised-button
                  color="warn">Reject</button>

              </div>
              <div *ngIf="element.status!='Pending'">
                <p [ngStyle]="element.status=='Approved' ? {'color' : 'green'} : {'color' : 'red'}">{{element.status}}
                </p>
              </div>
            </td>


          </ng-container>



          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>


      <ng-template #display>
        <h4>There are no form requests to display</h4>
        <lottie-player class="lottie" *ngIf="forms.length === 0"
          src="https://assets3.lottiefiles.com/temp/lf20_jJxas0.json" background="transparent" speed="1"
          style="width: 300px; height: 300px;" loop autoplay></lottie-player>
      </ng-template>

    </div>

  </div>

</div>