@import "../../../assets/materialize/css/materialize.min.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
.card{
    background-color: #f8fafb;
}
.body{
    // font-family: 'Josefin Slab', serif;
}