<div class="body">
    <div data-aos="flip-left">
        <h4 class="header">My Profile &nbsp;<i class="far fa-user"></i></h4>
        <br>

        <div class="card">
            <div class="card-content">
                <table class="striped highlight centered">
                    <tbody>
                        <tr>
                            <th>Title</th>
                            <td> {{userData.title}} </td>
                        </tr>
                        <tr>
                            <th>First Name</th>
                            <td> {{userData.firstname}} </td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td> {{userData.lastname}} </td>
                        </tr>
                        <tr>
                            <th>Email-id</th>
                            <td> {{userData.email}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-action">

                <button routerLink="update" class="btn btn-block waves-effect waves-light purple lighten-2"
                    type="submit" name="action">Update Profile
                    <i class="material-icons right">update</i>
                </button>

            </div>
        </div>
    </div>
</div>