.card{
  box-shadow: 4px 4px 5px #aaaaaa;
}

::ng-deep .mat-step-header .mat-step-icon-selected{
  background-color: rebeccapurple;
  font-size: 20px;
}


.upload-btn-wrapper {
  position: relative;
}

.uploadbtn {
  border: 2px solid gray;
  color: white;
  background-color: rebeccapurple;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}