<mat-card data-aos="fade-right">
  <div class="container" style="margin-top: 100px;margin-bottom: 200px;">

    <mat-form-field appearance="fill">
      <mat-label>Please select Form Type</mat-label>
      <mat-select [(ngModel)]="selectedFormType">
        <mat-option (click)="onChangeFormType()" *ngFor="let st of formtypes" [value]="st">
          {{st}}
        </mat-option>
      </mat-select>
    </mat-form-field>



    <div *ngIf="showform">
      <div *ngIf="success" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <b>File Uploaded Successfully</b>
      </div>
      <mat-horizontal-stepper #stepper>
        <mat-step [stepControl]="generatePdfForm">
          <form [formGroup]="generatePdfForm" (ngSubmit)="onGenerate()">
            <ng-template matStepLabel>Fill out your details</ng-template>
            <div class="row">
              <!-- title -->
              <div class="col-md-4">
                <mat-form-field appearance="fill">
                  <mat-label>Select Title</mat-label>
                  <mat-select formControlName="original_title">
                    <mat-option value="Shri">Shri</mat-option>
                    <mat-option value="Smt">Smt</mat-option>
                    <mat-option value="Kumari">Kumari</mat-option>
                    <mat-option value="M/s">M/s</mat-option>
                  </mat-select>
                  <mat-hint align="end">Select the title</mat-hint>
                </mat-form-field>
                <p *ngIf="!f.original_title.valid && f.original_title.touched " class="text-danger">Title is required
                </p>
              </div>
              <!-- last name or surname -->
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>Last Name / Surname</mat-label>
                  <input matInput placeholder="Enter your Lastname or Surname" maxlength="25"
                    formControlName="original_surname">
                </mat-form-field>
                <p *ngIf="!f.original_surname.valid && f.original_surname.touched " class="text-danger">Field
                  required</p>
              </div>
              <!-- firstname -->
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="Enter your firstname" maxlength="25"
                    formControlName="original_first_name">
                </mat-form-field>
                <p *ngIf="!f.original_first_name.valid && f.original_first_name.touched " class="text-danger">Field
                  required</p>
              </div>
              <!-- middlename -->
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>Middle Name</mat-label>
                  <input matInput placeholder="Enter your middle name" maxlength="25"
                    formControlName="original_middle_name">
                </mat-form-field>
                <p *ngIf="!f.original_middle_name.valid && f.original_middle_name.touched " class="text-danger">Field
                  required</p>
              </div>
              <!-- name on pan card -->
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>Name you would like to print on PAN CARD</mat-label>
                  <input matInput maxlength="36" placeholder="Name you would like to print on PAN CARd"
                    formControlName="pan_card_abbrevation">
                </mat-form-field>
                <p *ngIf="!f.pan_card_abbrevation.valid && f.pan_card_abbrevation.touched " class="text-danger">Field
                  required</p>
              </div>
              <div class="col-md-12" *ngIf="selectedFormType == 'newform'">
                <mat-label>Have you ever been known by any other name? </mat-label> &nbsp;&nbsp;
                <mat-radio-group (change)="aliasCheck()" formControlName="alias_">
                  <mat-radio-button value="true">Yes</mat-radio-button> &nbsp;&nbsp;
                  <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
              </div>


              <div *ngIf="alias == 'true' && selectedFormType=='newform'" class="col-md-12">
                <br>
                <h2 style="color:rebeccapurple;">Alias Section</h2>
                <hr>
                <div class="row">
                  <!--alias  title -->
                  <div class="col-md-4">
                    <mat-form-field appearance="fill">
                      <mat-label>Select Title</mat-label>
                      <mat-select formControlName="alias_title">
                        <mat-option value="Shri">Shri</mat-option>
                        <mat-option value="Smt">Smt</mat-option>
                        <mat-option value="Kumari">Kumari</mat-option>
                        <mat-option value="M/s">M/s</mat-option>
                      </mat-select>
                      <mat-hint align="end">Select the title</mat-hint>
                    </mat-form-field>
                    <p *ngIf="!f.alias_title.valid && f.alias_title.touched " class="text-danger">Title is required
                    </p>
                  </div>
                  <!--alias  last name or surname -->
                  <div class="col-md-4">
                    <mat-form-field>
                      <mat-label>Last Name / Surname</mat-label>
                      <input matInput maxlength="25" placeholder="Enter your alias Lastname or Surname"
                        formControlName="alias_surname">
                    </mat-form-field>
                    <p *ngIf="!f.alias_surname.valid && f.alias_surname.touched " class="text-danger">Field
                      required</p>
                  </div>
                  <!--alias  firstname -->
                  <div class="col-md-4">
                    <mat-form-field>
                      <mat-label>Alias First Name</mat-label>
                      <input matInput maxlength="25" placeholder="Enter your alias firstname"
                        formControlName="alias_first_name">
                    </mat-form-field>
                    <p *ngIf="!f.alias_first_name.valid && f.alias_first_name.touched " class="text-danger">Field
                      required</p>
                  </div>
                  <!-- middlename -->
                  <div class="col-md-4">
                    <mat-form-field>
                      <mat-label>Alias Middle Name</mat-label>
                      <input matInput maxlength="25" placeholder="Enter your alias middle name"
                        formControlName="alias_middle_name">
                    </mat-form-field>
                    <p *ngIf="!f.alias_middle_name.valid && f.alias_middle_name.touched " class="text-danger">Field
                      required</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <hr>
                <mat-form-field appearance="fill">
                  <mat-label>Select the gender</mat-label>
                  <mat-select formControlName="gender">
                    <mat-option *ngFor="let gender of genders" [value]="gender">
                      {{gender}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <p *ngIf="!f.gender.valid && f.gender.touched " class="text-danger">Field
                  required</p>
              </div>
              <div class="col-md-6">
                <hr>
                <mat-form-field appearance="fill">
                  <input matInput type="date" name="" id="" formControlName="DOB">
                </mat-form-field>
              </div>
              <br>
              <h4 style="color: rebeccapurple;">Details of the Parents : </h4>
              <div class="col-md-12">
                <br>
                <mat-label>Whether mother is a single parent and you wish to apply for PAN by furnishing the name of
                  your mother only?</mat-label> &nbsp;&nbsp;
                <mat-radio-group (change)="checkMotherSingleParent()" formControlName="motherSingleParent_">
                  <mat-radio-button value="true">Yes</mat-radio-button> &nbsp;&nbsp;
                  <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
              </div>

              <!-- if mother was a single parent -->
              <div *ngIf="motherSingleParent == 'true' " class="col-md-12">
                <br>
                <h2 style="color:rebeccapurple;">Mothers details</h2>
                <hr>
                <div class="row">
                  <!--mothers  last name or surname -->
                  <div class="col-md-4">
                    <mat-form-field>
                      <mat-label>Mothers Last Name / Surname</mat-label>
                      <input maxlength="25" matInput placeholder="Enter your mothers Lastname or Surname"
                        formControlName="​DOP_mother_surname">
                    </mat-form-field>

                  </div>
                  <!--mothers  firstname -->
                  <div class="col-md-4">
                    <mat-form-field>
                      <mat-label>Mothers First Name</mat-label>
                      <input maxlength="25" matInput placeholder="Enter your mothers firstname"
                        formControlName="DOP_mother_first_name">
                    </mat-form-field>

                  </div>
                  <!--mothers middlename -->
                  <div class="col-md-4">
                    <mat-form-field>
                      <mat-label>Mothers Middle Name</mat-label>
                      <input maxlength="25" matInput placeholder="Enter your mothers middle name"
                        formControlName="DOP_mother_middle_name">
                    </mat-form-field>

                  </div>
                </div>
              </div>

              <!-- if mother was not  a single parent -->

              <div *ngIf="motherSingleParent == 'false' " class="col-md-12">
                <br>
                <h2 style="color:rebeccapurple;">Fathers details</h2>
                <hr>
                <div class="row">
                  <!--fathers  last name or surname -->
                  <div class="col-md-4">
                    <mat-form-field>
                      <mat-label>Fathers Last Name / Surname</mat-label>
                      <input maxlength="25" matInput placeholder="Enter your fathers Lastname or Surname"
                        formControlName="DOP_father_surname">
                    </mat-form-field>

                  </div>
                  <!--fathers  firstname -->
                  <div class="col-md-4">
                    <mat-form-field>
                      <mat-label>Fathers First Name</mat-label>
                      <input maxlength="25" matInput placeholder="Enter your fathers firstname"
                        formControlName="DOP_father_first_name">
                    </mat-form-field>

                  </div>
                  <!--fathers middlename -->
                  <div class="col-md-4">
                    <mat-form-field>
                      <mat-label>Fathers Middle Name</mat-label>
                      <input maxlength="25" matInput placeholder="Enter your fathers middle name"
                        formControlName="DOP_father_middle_name">
                    </mat-form-field>

                  </div>
                </div>
                <br>
                <h2 style="color:rebeccapurple;">Mothers details</h2>
                <hr>
                <div class="row">
                  <!--mothers  last name or surname -->
                  <div class="col-md-4">
                    <mat-form-field>
                      <mat-label>Mothers Last Name / Surname</mat-label>
                      <input maxlength="25" matInput placeholder="Enter your mothers Lastname or Surname"
                        formControlName="​DOP_mother_surname">
                    </mat-form-field>

                  </div>
                  <!--mothers  firstname -->
                  <div class="col-md-4">
                    <mat-form-field>
                      <mat-label>Mothers First Name</mat-label>
                      <input maxlength="25" matInput placeholder="Enter your mothers firstname"
                        formControlName="DOP_mother_first_name">
                    </mat-form-field>

                  </div>
                  <!--mothers middlename -->
                  <div class="col-md-4">
                    <mat-form-field>
                      <mat-label>Mothers Middle Name</mat-label>
                      <input maxlength="25" matInput placeholder="Enter your mothers middle name"
                        formControlName="DOP_mother_middle_name">
                    </mat-form-field>

                  </div>
                </div>
              </div>


              <div class="col-md-8">
                <hr> <br>
                <p>Select the name of either father or mother which you may like to be printed on PAN card (Select one
                  only) </p>
              </div>
              <div class="col-md-4">
                <hr> <br>
                <mat-form-field appearance="fill" style="font-size: 13px;">
                  <mat-label>Select the Name to be printed</mat-label>
                  <mat-select formControlName="selection_name">
                    <mat-option value="Fathername">Father's name</mat-option>
                    <mat-option value="Mothername">Mother's name</mat-option>
                  </mat-select>
                </mat-form-field>
                <p *ngIf="!f.selection_name.valid && f.selection_name.touched " class="text-danger">Field
                  required</p>
              </div>

              <!-- addition options for correction form -->
              <div *ngIf="selectedFormType == 'correctionform'">
                <div class="col-md-12">
                  <br>
                  <mat-label>Photo Mistmatch</mat-label> &nbsp;&nbsp;
                  <mat-radio-group formControlName="photo_mismatch">
                    <mat-radio-button value="true">Yes</mat-radio-button> &nbsp;&nbsp;
                    <mat-radio-button value="false">No</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="col-md-12">
                  <br>
                  <mat-label>Signature Mistmatch</mat-label> &nbsp;&nbsp;
                  <mat-radio-group formControlName="signature_mismatch">
                    <mat-radio-button value="true">Yes</mat-radio-button> &nbsp;&nbsp;
                    <mat-radio-button value="false">No</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>

              <div class="col-sm-12">
                <h2 style="color:rebeccapurple;"> <br> Address</h2> <span
                  *ngIf="selectedFormType == 'newform'"><b>Residential address</b></span>
              </div>

              <div class="col-md-4" *ngIf="selectedFormType == 'correctionform'">
                <br>
                <mat-form-field>
                  <mat-label>Name of the office(to be filled only in case of office address)</mat-label>
                  <input matInput maxlength="25" formControlName="office_name">
                </mat-form-field>
              </div>

              <!-- addresss -->
              <div class="col-md-4">
                <br>
                <mat-form-field>
                  <mat-label>Flat / Room / Door / Block No</mat-label>
                  <input matInput maxlength="25" formControlName="address_line_one">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <br>
                <mat-form-field>
                  <mat-label>Name of Premises / Building / Village</mat-label>
                  <input matInput maxlength="25" formControlName="address_line_two">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <br>
                <mat-form-field>
                  <mat-label>Road / Street / Lane/Post Office</mat-label>
                  <input matInput maxlength="25" formControlName="address_line_three">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <br>
                <mat-form-field>
                  <mat-label>Area / Locality / Taluka/ Sub- Division</mat-label>
                  <input matInput maxlength="25" formControlName="address_line_four">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <br>
                <mat-form-field>
                  <mat-label>Town / City / District</mat-label>
                  <input matInput maxlength="25" formControlName="address_line_five">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <br>
                <mat-form-field>
                  <mat-label>State / Union Territory</mat-label>
                  <input matInput maxlength="25" formControlName="state">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <br>
                <mat-form-field>
                  <mat-label>Pincode / Zip code</mat-label>
                  <input matInput maxlength="10" type="number" formControlName="pincode">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <br>
                <mat-form-field>
                  <mat-label>Country Name</mat-label>
                  <input matInput maxlength="25" formControlName="country_name">
                </mat-form-field>
              </div>
              <div class="col-md-12" *ngIf="selectedFormType == 'newform'">
                <br>
                <mat-label>Select if do you have any office address ? </mat-label> &nbsp;&nbsp;
                <mat-radio-group (change)="checkOfficeAddress()" formControlName="office_address">
                  <mat-radio-button value="true">Yes</mat-radio-button> &nbsp;&nbsp;
                  <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
              </div>

              <!-- office address-->
              <div *ngIf="officeAddress == 'true' && selectedFormType == 'newform' " class="col-sm-12">
                <div class="row">
                  <div class="col-sm-12"> <br> <b>Office address</b> </div>
                  <div class="col-md-4">
                    <br>
                    <mat-form-field>
                      <mat-label>Name of the office</mat-label>
                      <input matInput maxlength="25" formControlName="office_address_line_one">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <br>
                    <mat-form-field>
                      <mat-label>Flat / Room / Door / Block No</mat-label>
                      <input matInput maxlength="25" formControlName="office_address_line_two">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <br>
                    <mat-form-field>
                      <mat-label>Name of Premises / Building / Village</mat-label>
                      <input matInput maxlength="25" formControlName="office_address_line_three">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <br>
                    <mat-form-field>
                      <mat-label>Road / Street / Lane/Post Office</mat-label>
                      <input matInput maxlength="25" formControlName="office_address_line_four">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <br>
                    <mat-form-field>
                      <mat-label>Area / Locality / Taluka/ Sub- Division</mat-label>
                      <input matInput maxlength="25" formControlName="office_address_line_five">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <br>
                    <mat-form-field>
                      <mat-label>Town / City / District</mat-label>
                      <input matInput maxlength="25" formControlName="office_address_line_six">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <br>
                    <mat-form-field>
                      <mat-label>State / Union Territory</mat-label>
                      <input matInput maxlength="25" formControlName="office_state">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <br>
                    <mat-form-field>
                      <mat-label>Pincode / Zip code</mat-label>
                      <input matInput maxlength="10" type="number" formControlName="office_pincode">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <br>
                    <mat-form-field>
                      <mat-label>Country Name</mat-label>
                      <input matInput maxlength="25" formControlName="office_country_name">
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <br>
                <mat-label>Address for Communication ? </mat-label> &nbsp;&nbsp;
                <mat-radio-group formControlName="address_of_communication">
                  <mat-radio-button value="residence">Residence</mat-radio-button> &nbsp;&nbsp;
                  <mat-radio-button value="office">Office</mat-radio-button>
                </mat-radio-group>
              </div>
              <h4 style="color: rebeccapurple;"> <br> Telephone Number & Email ID details <br></h4>
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-md-4">
                    <br>
                    <mat-form-field>
                      <mat-label>Country Code</mat-label>
                      <input matInput maxlength="4" type="text" formControlName="country_code">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <br>
                    <mat-form-field>
                      <mat-label>Area / STD Code</mat-label>
                      <input matInput maxlength="4" formControlName="std_code">
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <br>
                    <mat-form-field>
                      <mat-label>Telephone / Mobile number</mat-label>
                      <input matInput maxlength="12" formControlName="mobile_number">
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <br>
                    <mat-form-field>
                      <mat-label>Email-address</mat-label>
                      <input matInput type="email" formControlName="email_id">
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="col-sm-12" *ngIf="selectedFormType == 'newform'">
                <br>
                <h4 style="color: rebeccapurple;">Status of applicant</h4>
              </div>
              <div class="col-sm-12" *ngIf="selectedFormType == 'newform'">
                <br>
                <mat-form-field appearance="fill">
                  <mat-label>Please select status</mat-label>
                  <mat-select formControlName="status_of_applicant">
                    <mat-option *ngFor="let st of status" [value]="st">
                      {{st}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-12" *ngIf="selectedFormType == 'correctionform'">
                <mat-label>If any aadhar Alloted </mat-label> &nbsp;&nbsp;
                <mat-radio-group (change)="checkaadharalloted()" formControlName="aadhar_alloted">
                  <mat-radio-button value="true">Yes</mat-radio-button> &nbsp;&nbsp;
                  <mat-radio-button value="false">No</mat-radio-button>
                </mat-radio-group>
              </div>

              <div class="col-md-6" *ngIf="aadharalloted == 'true' && selectedFormType == 'correctionform'">
                <br>
                <mat-form-field>
                  <mat-label>Aadhar number
                  </mat-label>
                  <input matInput maxlength="25" formControlName="aadhar_number">
                </mat-form-field>
              </div>
              <div class="col-md-6" *ngIf="aadharalloted == 'true' && selectedFormType == 'correctionform'">
                <br>
                <mat-form-field>
                  <mat-label>Name as per AADHAAR CARD
                  </mat-label>
                  <input matInput maxlength="25" formControlName="name_on_aadhar">
                </mat-form-field>
              </div>


              <div class="col-md-12" *ngIf="selectedFormType == 'newform'">
                <hr>
                <mat-form-field>
                  <mat-label>Registration Number (for company, firms, LLPs etc.)</mat-label>
                  <input matInput maxlength="25" formControlName="registration_number">
                </mat-form-field>
              </div>

              <div class="col-sm-12" *ngIf="selectedFormType == 'newform'">
                <br>
                <p style="color: rebeccapurple;">In case of a person, who is required to quote Aadhaar number or the
                  Enrolment ID of Aadhaar application form as per section 139 AA</p>
              </div>
              <div class="col-md-4" *ngIf="selectedFormType == 'newform'">
                <br>
                <mat-form-field>
                  <mat-label>Please mention your AADHAAR number (if allotted)</mat-label>
                  <input matInput maxlength="12" formControlName="aadhar_number">
                </mat-form-field>
              </div>
              <div class="col-md-4" *ngIf="selectedFormType == 'newform'">
                <br>
                <mat-form-field>
                  <mat-label>If AADHAAR number is not allotted, please mention the enrolment ID of Aadhaar application
                    form</mat-label>
                  <input matInput maxlength="25" formControlName="enrollment_number">
                </mat-form-field>
              </div>
              <div class="col-md-4" *ngIf="selectedFormType == 'newform'">
                <br>
                <mat-form-field>
                  <mat-label>Name as per AADHAAR letter or card or as per the Enrolment ID of Aadhaar application form
                  </mat-label>
                  <input matInput maxlength="25" formControlName="name_on_aadhar">
                </mat-form-field>
              </div>

              <div class="col-sm-12" *ngIf="selectedFormType == 'newform'">
                <br>
                <h4 style="color: rebeccapurple;">Source Of Income</h4>
              </div>
              <div class="col-sm-12" *ngIf="selectedFormType == 'newform'">
                <br>
                <mat-form-field appearance="fill">
                  <mat-label>Please select </mat-label>
                  <mat-select formControlName="source_of_income">
                    <mat-option *ngFor="let st of sources" [value]="st">
                      {{st}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-12" *ngIf="selectedFormType == 'newform'">
                <br>
                <h4 style="color: rebeccapurple;">Representative Assessee (RA)</h4>
                <p>Full name, address of the Representative Assessee, who is assessible under the Income Tax Act in
                  respect of the person, whose particulars have
                  been given .</p>
                <p style="color: rebeccapurple;">Full Name (Full expanded name : initials are not permitted)</p>
              </div>

              <!-- title -->
              <div class="col-md-6" *ngIf="selectedFormType == 'newform'">
                <mat-form-field appearance="fill">
                  <mat-label>Select Title</mat-label>
                  <mat-select formControlName="ra_title">
                    <mat-option value="Shri">Shri</mat-option>
                    <mat-option value="Smt">Smt</mat-option>
                    <mat-option value="Kumari">Kumari</mat-option>
                    <mat-option value="Ms">M/s</mat-option>
                  </mat-select>
                  <mat-hint align="end">Select the title</mat-hint>
                </mat-form-field>
                <p *ngIf="!f.ra_title.valid && f.ra_title.touched " class="text-danger">Title is required
                </p>
              </div>
              <!-- last name or surname -->
              <div class="col-md-6" *ngIf="selectedFormType == 'newform'">
                <mat-form-field>
                  <mat-label>Last Name / Surname</mat-label>
                  <input maxlength="25" matInput placeholder="Enter your Lastname or Surname"
                    formControlName="ra_surname">
                </mat-form-field>
                <p *ngIf="!f.ra_surname.valid && f.ra_surname.touched " class="text-danger">Field
                  required</p>
              </div>
              <!-- firstname -->
              <div class="col-md-6" *ngIf="selectedFormType == 'newform'">
                <mat-form-field>
                  <mat-label>First Name</mat-label>
                  <input maxlength="25" matInput placeholder="Enter your firstname" formControlName="ra_first_name">
                </mat-form-field>
                <p *ngIf="!f.ra_first_name.valid && f.ra_first_name.touched " class="text-danger">Field
                  required</p>
              </div>
              <!-- middlename -->
              <div class="col-md-6" *ngIf="selectedFormType == 'newform'">
                <mat-form-field>
                  <mat-label>Middle Name</mat-label>
                  <input maxlength="25" matInput placeholder="Enter your middle name" formControlName="ra_middle_name">
                </mat-form-field>
                <p *ngIf="!f.ra_middle_name.valid && f.ra_middle_name.touched " class="text-danger">Field
                  required</p>
              </div>

              <div class="col-sm-12" *ngIf="selectedFormType == 'newform'">
                <p style="color: rebeccapurple;">Address</p>
              </div>
              <div class="col-md-4" *ngIf="selectedFormType == 'newform'">
                <br>
                <mat-form-field>
                  <mat-label>Flat / Room / Door / Block No</mat-label>
                  <input matInput maxlength="25" formControlName="ra_address_line_one">
                </mat-form-field>
              </div>
              <div class="col-md-4" *ngIf="selectedFormType == 'newform'">
                <br>
                <mat-form-field>
                  <mat-label>Name of Premises / Building / Village</mat-label>
                  <input matInput maxlength="25" formControlName="ra_address_line_two">
                </mat-form-field>
              </div>
              <div class="col-md-4" *ngIf="selectedFormType == 'newform'">
                <br>
                <mat-form-field>
                  <mat-label>Road / Street / Lane/Post Office</mat-label>
                  <input matInput maxlength="25" formControlName="ra_address_line_three">
                </mat-form-field>
              </div>
              <div class="col-md-6" *ngIf="selectedFormType == 'newform'">
                <br>
                <mat-form-field>
                  <mat-label>Area / Locality / Taluka/ Sub- Division</mat-label>
                  <input matInput maxlength="25" formControlName="ra_address_line_four">
                </mat-form-field>
              </div>
              <div class="col-md-6" *ngIf="selectedFormType == 'newform'">
                <br>
                <mat-form-field>
                  <mat-label>Town / City / District</mat-label>
                  <input matInput maxlength="25" formControlName="ra_address_line_five">
                </mat-form-field>
              </div>
              <div class="col-md-6" *ngIf="selectedFormType == 'newform'">
                <br>
                <mat-form-field>
                  <mat-label>State / Union Territory</mat-label>
                  <input matInput maxlength="25" formControlName="ra_state">
                </mat-form-field>
              </div>
              <div class="col-md-6" *ngIf="selectedFormType == 'newform'">
                <br>
                <mat-form-field>
                  <mat-label>Pincode / Zip code</mat-label>
                  <input matInput maxlength="10" type="number" formControlName="ra_pincode">
                </mat-form-field>
              </div>

              <div class="col-sm-12" *ngIf="selectedFormType == 'correctionform'">
                <p style="color: rebeccapurple;">Mention other Permanent Account Numbers (PANs) inadvertently allotted
                  to you</p>
              </div>
              <div class="col-md-4" *ngIf="selectedFormType == 'correctionform'">
                <br>
                <mat-form-field>
                  <mat-label>PAN1</mat-label>
                  <input matInput maxlength="12" type="text" formControlName="pan1">
                </mat-form-field>
              </div>
              <div class="col-md-4" *ngIf="selectedFormType == 'correctionform'">
                <br>
                <mat-form-field>
                  <mat-label>PAN2</mat-label>
                  <input matInput maxlength="12" type="text" formControlName="pan2">
                </mat-form-field>
              </div>
              <div class="col-md-4" *ngIf="selectedFormType == 'correctionform'">
                <br>
                <mat-form-field>
                  <mat-label>PAN3</mat-label>
                  <input matInput maxlength="12" type="text" formControlName="pan3">
                </mat-form-field>
              </div>

            </div>


            <div>
              <br>
              <br>
              <!-- [disabled]="!generatePdfForm.valid" -->
              <button [disabled]="!generatePdfForm.valid" type="submit" class="btn btn-success btn-md" name="button"
                matStepperNext>
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Generate pdf</button>
              <button type="button" mat-raised-button color="primary" class="ml-4 btn-md" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step stepControl="submitForm" label="Upload Pdf">
          <br>
          <div class="row">
            <div class="col-md-4">
              <!-- upload jpg -->
              <div class="upload-btn-wrapper">
                <button class="uploadbtn">
                  <span class="material-icons">
                    file_present
                  </span> &nbsp;&nbsp;
                  Upload IMAGE</button>
                <input type="file" accept="image/gif, image/jpeg, image/png" (change)="onChangeJpg($event)">
              </div>
              <hr>
              <p class="text-info"> {{Jpgfilename}} </p>
              <hr>
            </div>
            <div class="col-md-4">
              <!-- upload pdf -->
              <div class="upload-btn-wrapper">
                <button class="uploadbtn">
                  <span class="material-icons">
                    file_present
                  </span> &nbsp;&nbsp;
                  Upload PDF</button>
                <input type="file" accept=".pdf" (change)="onChangePdf($event)">
              </div>
              <hr>
              <p class="text-info"> {{Pdffilename}} </p>
              <hr>
            </div>
          </div>
          <br>
          <button type="submit" (click)="onSubmit()" class="btn btn-success btn-md" name="button">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Submit Form</button>
          <button mat-raised-button color="accent" class="ml-3 btn-md" matStepperPrevious>Back</button>
        </mat-step>

      </mat-horizontal-stepper>
    </div>





  </div>
</mat-card>