.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.hidden{
  display: none;
}
.spacer{
  flex: 1 1 auto;
}
.mat-toolbar a {
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 18px;
  display: inline-block;
  margin: 0 15px;
  color: white;
  text-decoration: none;
}
button{
  font-weight: 300;
  font-size: 18px;
}
button:focus{
  outline: none;
}

.mat-toolbar{
  background-color: rebeccapurple;
  // background-color: #fb6f92;
}
.mat-toolbar a:hover{
  border-bottom: 1px solid white;
}
.active{
  border-bottom: 2px solid white;
}