<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [ngClass]="{'hidden': !(isHandset$ | async)}"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a *ngIf="userData" mat-list-item routerLink="/profile" routerLinkActive="active" class="nav-link">Profile</a>
      <a *ngIf="userData?.role=='Admin'" mat-list-item [matMenuTriggerFor]="admin">
        Admin &nbsp;&nbsp;&nbsp;<i class="fas fa-caret-down"></i>
      </a>
      <a *ngIf="userData?.role=='User'" mat-list-item [matMenuTriggerFor]="user">
        User &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-caret-down pull-right"></i>
      </a>
      <a mat-list-item routerLink="contact-us">Contact Us</a>
      <a *ngIf="userData?.role=='User'" mat-list-item routerLink="/users/wallethistory">Wallet
        &nbsp;<b>&#8377;&nbsp;{{userData.amount}}</b></a>
      <a *ngIf="userData" mat-list-item (click)="logout()" class="nav-link">
        <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;
        Logout &nbsp;<b style="font-size : 24px;color: orange;">{{userData.firstName}} </b>
      </a>
      <a *ngIf="!userData" mat-list-item routerLink="account/login-register" routerLinkActive="active" class="nav-link">
        <i class="fas fa-sign-in-alt"></i> &nbsp;&nbsp;
        Login</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="font-size: 26px;margin-right: 30px;">Online Ap</span>
      <div [ngClass]="{'hidden': (isHandset$ | async)}" class="container">
        <span class="spacer"></span>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a *ngIf="userData" routerLink="/profile" routerLinkActive="active" class="nav-link">Profile</a>
        <button *ngIf="userData?.role=='Admin'" mat-button [matMenuTriggerFor]="admin">Admin &nbsp;<i
            class="fas fa-caret-down"></i></button>
        <button *ngIf="userData?.role=='User'" mat-button [matMenuTriggerFor]="user">User &nbsp;<i
            class="fas fa-caret-down"></i></button>
        <a class="nav-link" routerLink="contact-us" routerLinkActive="active">Contact Us</a>
      </div>
      <div class="ml-auto" [ngClass]="{'hidden': (isHandset$ | async)}">
        <a *ngIf="userData?.role=='User'" class="nav-link" routerLinkActive="active"
          routerLink="/users/wallethistory">Wallet &nbsp;<b>&#8377;&nbsp;{{userData.amount}}</b></a>
        <a *ngIf="userData" (click)="logout()" class="nav-link">
          <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;
          Logout &nbsp;<b style="font-size : 24px;color: orange;">{{userData.firstName}} </b></a>
        <a *ngIf="!userData" mat-list-item routerLink="account/login-register" routerLinkActive="active"
          class="nav-link">
          <i class="fas fa-sign-in-alt"></i> &nbsp;&nbsp;
          Login</a>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
<mat-menu #admin="matMenu">
  <button mat-menu-item routerLink="/admin/accounts">Accounts</button>
  <button mat-menu-item routerLink="/admin/walletrequests">Wallet Requests</button>
  <button mat-menu-item routerLink="/admin/formrequests">Form Requests</button>
</mat-menu>

<mat-menu #user="matMenu">
  <button mat-menu-item routerLink="/users/listpdfs">List Forms</button>
  <button mat-menu-item routerLink="/users/wallet">Load Wallet </button>
  <button mat-menu-item routerLink="/users/submitform">Generate and submit Form </button>

</mat-menu>