
@media(min-width:768px){
    .mat-tab-group{
        width: 450px;
        position: absolute;
        left: 30%;
        box-shadow: 1px 2px 6px #aaaaaa;
        padding: 20px;

    }
  
}
