<div class="container">
    <div class="row" style="margin-top: 90px;">
        <div class="col-md-6 " data-aos="fade-up" >
            <img  src="../assets/images/image.svg" class="img-fluid"  alt="">
           
        </div>
        <div class="col-md-6" data-aos="fade-left" data-aos-easing="ease-in-sine">
            <mat-tab-group mat-align-tabs="center" >
                <mat-tab label="Sign in">
                    <app-sign-in></app-sign-in>
                </mat-tab>
                <mat-tab label="Sign up">
                    <app-sign-up></app-sign-up>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    
    </div>




    
    