<form [formGroup]="form" style="margin-top: 50px;">
    <mat-card>
        <div *ngIf="error" class="msg-error"> {{error}} </div>
        <br>
        <mat-card-title>Register</mat-card-title>
        <br>
        <mat-card-content>
            <div class="form-group">
                <mat-form-field class="form-element">
                    <mat-label>Select title</mat-label>
                    <mat-select formControlName="title">
                        <mat-option *ngFor="let t of titles" [value]="t">{{t}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="!f.title.valid  || submitted">
                        Please select the title
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="form-element">
                    <mat-label>First Name</mat-label>
                    <input type="text" matInput placeholder="Ex.John" formControlName="firstName">
                    <mat-error *ngIf="!f.firstName.valid && f.firstName.touched || submitted">
                        First name required
                    </mat-error>

                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="form-element">
                    <mat-label>Last Name</mat-label>
                    <input type="text" matInput placeholder="Ex.Doe" formControlName="lastName">
                    <mat-error *ngIf="!f.lastName.valid && f.lastName.touched || submitted">
                        Last name required
                    </mat-error>
                </mat-form-field>
            </div>



            <div class="form-group">
                <mat-form-field class="form-element">
                    <mat-label>Email-id</mat-label>
                    <input type="email" matInput placeholder="name@domain.com" formControlName="email">
                    <mat-error *ngIf="!f.email.valid && f.email.touched || submitted">
                        Enter the valid email-address
                    </mat-error>

                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="form-element">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Enter your password" formControlName="password">
                    <mat-error *ngIf="!f.password.valid && f.password.touched ||submitted">
                        <span *ngIf="f.password.hasError('required')">Field required</span>
                        <span *ngIf="f.password.hasError('minlength')">Password must be atleast 6 characters long</span>
                    </mat-error>

                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="form-element">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput placeholder="Confirm your password"
                        formControlName="confirmpassword">
                    <mat-error *ngIf="!f.confirmpassword.valid && f.confirmpassword.touched ||submitted">
                        <span *ngIf="f.confirmpassword.hasError('required')">Field required</span>
                        <span *ngIf="f.confirmpassword.hasError('mustMatch')">Passwords do not match</span>
                    </mat-error>

                </mat-form-field>
            </div>


        </mat-card-content>

        <mat-card-footer>
            <button type="button" class="btn-block" (click)="onSubmit()" mat-raised-button
                color="primary">Register</button>
        </mat-card-footer>
    </mat-card>
</form>