<h1 mat-dialog-title>Reasons for rejection?</h1>

<div mat-dialog-content>
    <p class="text-danger">Enter a valid reason</p>
    <mat-form-field>
        <input type="text" placeholder="write reasons...." matInput [(ngModel)]="reasons">
    </mat-form-field>
    <p *ngIf="reasons.length<20" class="text-muted">Required minimum 20 characters</p>
</div>

<div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="data._id + data.city">Close</button>
    <button mat-raised-button [disabled]="reasons.length < 20" (click)="onReject()" color="warn"
        cdkFocusInitial>Reject</button>
</div>