<!-- <app-headers></app-headers>

<nav class="admin-nav navbar navbar-expand navbar-light">
    <div class="navbar-nav">
        <a routerLink="pdfgenerate" routerLinkActive="active" [routerLinkActiveOptions] = "{exact : true}"
         class="nav-item nav-link">Generate forms</a>
         <a routerLink="listpdfs"  routerLinkActive="active"
          class="nav-item nav-link">List Forms</a>
          <a  routerLink = "wallet"
          routerLinkActive="active" class="nav-item nav-link">Load Wallet</a>
          <a  routerLink = "submitform"
          routerLinkActive="active" class="nav-item nav-link">Submit Form</a>
    </div>
</nav>
<div >
    <router-outlet></router-outlet>
</div> -->
